<div class="container header">
  <h3><strong><%= current_user.name %> <%= current_user.last_name %><strong></h3>
  <p-2>Categoria <p-2><%=current_user.difficulty %>
    <div class="container">
      <div class="row">
        <div class="back-show col-md-6">
          <h2>Sobre mim</h2>
          <p><%= current_user.about_me %><p>
          <br>
          <br>
          <a-2><%= link_to "Editar perfil", edit_user_path %></a-2>
        </div>
        <div class="back-show-2 col-md-6">
          <h2>Meus jogos</h2>
        </div>
        <div class="back-show-3 col-md-6">
          <h2>Calendário</h2>
          <p><%= current_user.about_me %><p>
          <a-2><%= link_to "Editar perfil", edit_user_path %></a-2>
        </div>
        <div class="back-show-4 col-md-6">
          <h2>Jogos</h2>
        </div>
    </div>
</div>
