<h2>Users#show</h2>
<%= current_user.id %>
<%= current_user.name %>
<%= current_user.last_name %>
<%= current_user.about_me %>
<%= current_user.difficulty %>
<%= current_user.email %>
<%= link_to "Edit", edit_user_path %>
<%= @schedules[0].date %>
<%= @schedules[1].date %>
<%= @schedules[2].date %>
<%= @schedules[3].date %>
<%= @schedules[4].date %>
<%= @schedules[5].date %>
