<div class="container header">
  <h3><strong><%= current_user.name %> <%= current_user.last_name %><strong></h3>
  <p-2>Categoria: <p-2><%=current_user.difficulty %>
    <div class="container">
      <div class="row">
        <div class="back-show col-md-6">
          <h2>Sobre mim</h2>
          <p><%= current_user.about_me %><p>
          <br>
          <br>
          <a class="a-3"><%= link_to "Editar perfil", edit_user_path %></a>
        </div>
        <div class="back-show-2 col-md-6">
          <h2>Últimos jogos</h2>
        </div>
        <div class="back-show-3 col-md-6">
          <h2>Calendário</h2>
        </div>
        <div class="back-show-4 col-md-6">
          <h2>Adversários disponíveis</h2>
        </div>
    </div>
</div>

<table class="game">
          <div id="games">
            <% @Games.each do |game| %>
              <% if game.user == current_user %>
                <% duo_detail = User.where(id: game.partner["duo"]).pluck(:name) %>
                <% opponent_1_detail = User.where(id: game.partner["opponent_1"]).pluck(:name) %>
                <% opponent_2_detail = User.where(id: game.partner["opponent_2"]).pluck(:name) %>
                <% opponents = opponent_1_detail+opponent_2_detail %>
                <% @results.each do |result| %>
                  <tr>
                    <td><%= result.searchable.date %></td>
                    <td><%= result.searchable.place %></td>
                    <td><%= game.duo_detail %></td>
                    <td><%= game.opponents %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </table>
    </div>
  </div>
</div>
