<h1>Users#show</h1>
<%= current_user.id %>
<%= current_user.name %>
<%= current_user.last_name %>
<%= current_user.about_me %>
<%= current_user.difficulty %>
<%= current_user.email %>
<%= link_to "Edit", edit_user_path %>
