<!--    inicio do teste de grid -->
<div class="container">
  <%= form_tag schedules_path, method: :get do %>
    <div class="row">
      <div class="col">
        <%= text_field_tag :query, params[:query],
            class: "form-control", placeholder: "Encontre seu parceiro"%>
      </div>
      <div class="col">
        <%= submit_tag "Search", class: "a16" %>
      </div>
    </div>
  <% end %>
  <%= form_tag schedules_path, method: :get do %>
    <div class="row">
      <div class="col">
        <%= date_field_tag "date", params[:date],
                      class: "form-control"%>
      </div>
      <div class="col">
        <%= submit_tag "Search", class: "a16" %>
      </div>
    </div>
  <% end %>
</div>
<!--    fim do teste de grid -->

<style>
  td,
  th {
      /* border: 1px solid rgb(190, 190, 190); */
      padding: 10px;
  }

  td {
      text-align: center;
      color: white;
  }

  tr:nth-child(even) {
      background-color: #FF9914;
  }

  th[scope="col"] {
      background-color: #FF9914;
      color: #fff;
      text-align: center;
  }

  th[scope="row"] {
      background-color: #FF9914;
  }
</style>

<div class="container mt-0">
  <%# <div class="col-md-6"> %>
  <h3>Formação dos times</h3>
  <div class="back-show-8 font2 m-5" style="overflow-x:auto; overflow-y:auto;">
    <table class="table">
        <tr>
          <td scope="col">Organizador-Nível</td>
          <td scope="col">Data</td>
          <td scope="col">Local</td>
          <td scope="col">Vaga para Dupla</td>
          <td scope="col">Vaga para Adversários</td>
          <td scope="col"></td>
        </tr>
        <% @schedules.each do |sched|%>
          <% if sched.partner["duo"] == current_user.id ||
                sched.partner["opponent_1"] == current_user.id ||
                sched.partner["opponent_2"] == current_user.id %>
            <% team_owner_name = User.where(id: sched.user_id).pluck(:name) %>
            <% team_owner_nivel = User.where(id: sched.user_id).pluck(:difficulty) %>
            <% duo_name = User.where(id: sched.partner["duo"]).pluck(:name) %>
            <% opponent_1_name = User.where(id: sched.partner["opponent_1"]).pluck(:name) %>
            <% opponent_2_name = User.where(id: sched.partner["opponent_2"]).pluck(:name) %>
            <% opponents = [opponent_1_name, opponent_2_name] unless opponent_2_name.empty? && opponent_1_name.empty? %>
            <tr>
              <td><%= "#{team_owner_name.first} - #{team_owner_nivel.first}"  %></td>
              <td><%= sched.date %></td>
              <td><%= sched.place %></td>

<!-- teste de vaga para dupla INICIO -->
              <% if duo_name.blank? || sched.partner[0] == current_user.id %>
                  <td scope="row">
                    <button type="button" class="a5"
                              data-toggle="modal" data-target="#myModal">Vaga</button>
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title">CONFIRMAÇÃO</h3>
                          </div>
                          <div class="modal-body">
                            <p>Gostaria de confirmar a sua vaga como DUPLA?</p>
                            <div class="table-responsive">
                              <table class="table table-lg table-active">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Organizador</th>
                                    <th scope="col">Nível</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Dupla</th>
                                    <th colspan="2" scope="col">Adversários</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td scope="row"><%= team_owner_name.first  %></td>
                                  <td scope="row"><%= team_owner_nivel.first %></td>
                                  <td scope="row"><%= sched.date  %></td>
                                  <td scope="row"><%= sched.place %></td>
                                  <% duo_name = User.where(id: current_user.id).pluck(:name) %>
                                  <td scope="row" style="color: orange"><%= duo_name.first %></td>
                                  <td scope="row"><%= opponent_1_name.first %></td>
                                  <td scope="row"><%= opponent_2_name.first %></td>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <%= button_to "Confirmar vaga", schedule_path(sched), class: "a16", method: :post %>
                            <button type="button" class="a16" data-dismiss="modal">Cancelar</button>
                            <%# <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Confirmar vaga</button> %>

                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                <% else %>
                  <td scope="row"><%= duo_name.first  %></td>
                <% end %>
<!-- teste de vaga para dupla FIM -->

<!-- teste de vaga para adversário 1 INICIO -->
              <% if opponent_1_name.blank? || sched.partner[1] == current_user.id %>
                  <td scope="row">
                    <button type="button" class="a5"
                              data-toggle="modal" data-target="#myModal">Vaga</button>
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">CONFIRMAÇÃO</h4>
                          </div>
                          <div class="modal-body">
                            <p>Gostaria de confirmar a sua vaga como adversário?</p>
                            <div class="table-responsive">
                              <table class="table table-lg table-active">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Organizador</th>
                                    <th scope="col">Nível</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Dupla</th>
                                    <th colspan="2" scope="col">Adversários</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td scope="row"><%= team_owner_name.first  %></td>
                                  <td scope="row"><%= team_owner_nivel.first %></td>
                                  <td scope="row"><%= sched.date  %></td>
                                  <td scope="row"><%= sched.place %></td>
                                  <td scope="row"><%= duo_name.first %></td>
                                  <% opponent_1_name = User.where(id: current_user.id).pluck(:name) %>
                                  <td scope="row" style="color: orange"><%= opponent_1_name.first %></td>
                                  <td scope="row"><%= opponent_2_name.first %></td>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= button_to "Confirmar vaga", schedule_path(sched), class: "a16", method: :post %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                <% else %>
                  <td scope="row"><%= opponent_1_name.first  %></td>
                <% end %>
<!-- teste de vaga para adversário 1 FIM -->

<!-- teste de vaga para adversário 1 INICIO -->
              <% if opponent_2_name.blank? || sched.partner[2] == current_user.id %>
                  <td scope="row">
                    <button type="button" class="a5"
                              data-toggle="modal" data-target="#myModal">Vaga</button>
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <p-3 class="modal-title">CONFIRMAÇÃO</p-3>
                          </div>
                          <div class="modal-body">
                            <p-3>Gostaria de confirmar a sua vaga como adversário?</p-3>
                            <div class="table-responsive">
                              <table class="table table-lg table-active">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Organizador</th>
                                    <th scope="col">Nível</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Dupla</th>
                                    <th colspan="2" scope="col">Adversários</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td scope="row"><%= team_owner_name.first  %></td>
                                  <td scope="row"><%= team_owner_nivel.first %></td>
                                  <td scope="row"><%= sched.date  %></td>
                                  <td scope="row"><%= sched.place %></td>
                                  <td scope="row"><%= duo_name.first %></td>
                                  <td scope="row"><%= opponent_1_name.first %></td>
                                  <% opponent_2_name = User.where(id: current_user.id).pluck(:name) %>
                                  <td scope="row" style="color: orange"><%= opponent_2_name.first %></td>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= button_to "Confirmar vaga", schedule_path(sched), class: "btn btn-sm btn-primary rounded-pill", method: :post %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                <% else %>
                  <td scope="row"><%= opponent_2_name.first  %></td>
                <% end %>
<!-- teste de vaga para adversário 2 FIM -->

              </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
