<style>
  td,
  th {
      /* border: 1px solid rgb(190, 190, 190); */
      padding: 10px;
  }

  td {
      text-align: center;
  }

  tr:nth-child(even) {
      background-color: #eee;
  }

  th[scope="col"] {
      /* background-color: #696969; */
      /* color: #fff; */
      text-align: center
  }

  th[scope="row"] {
      background-color: #d7d9f2;
  }
</style>

<div class="container mt-0">
  <%# <div class="col-md-6"> %>
  <div class="back-show-8 font2 m-5" style="overflow-x:auto; overflow-y:auto;">
    <h3>Formação dos times</h3>
    <table class="table">
      <thead>
        <tr>
          <td scope="col">Organizador-Nível</td>
          <td scope="col">Data</td>
          <td scope="col">Local</td>
          <td scope="col">Vaga para Dupla</td>
          <td scope="col">Vaga para Adversários</td>
          <td scope="col"></td>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |sched|%>
          <% if sched.partner["duo"] == current_user.id ||
                sched.partner["opponent_1"] == current_user.id ||
                sched.partner["opponent_2"] == current_user.id %>
            <% team_owner_name = User.where(id: sched.user_id).pluck(:name) %>
            <% team_owner_nivel = User.where(id: sched.user_id).pluck(:difficulty) %>
            <% duo_name = User.where(id: sched.partner["duo"]).pluck(:name) %>
            <% opponent_1_name = User.where(id: sched.partner["opponent_1"]).pluck(:name) %>
            <% opponent_2_name = User.where(id: sched.partner["opponent_2"]).pluck(:name) %>
            <% opponents = [opponent_1_name, opponent_2_name] unless opponent_2_name.empty? && opponent_1_name.empty? %>
            <tr>
              <td><%= "#{team_owner_name.first} - #{team_owner_nivel.first}"  %></td>
              <td><%= sched.date %></td>
              <td><%= sched.place %></td>
              <td><%= duo_name.first %></td>
              <td><%= opponent_1_name.first %></td>
              <td><%= opponent_2_name.first %></td>
<!-- teste de vaga para dupla INICIO -->
              <% if duo_name.blank? || sched.partner[0] == current_user.id %>
                  <td scope="row">
                    <button type="button" class="btn btn-info btn-sm btn-success rounded-pill"
                              data-toggle="modal" data-target="#myModal">VAGA</button>
                    <%# teste inicio -
                    <%# 1- Mostrar janela pop-up solicitando uma Confirmação para atualização %>
                    <!-- Modal id=myModal-->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">CONFIRMAÇÃO</h4>
                          </div>
                          <div class="modal-body">
                            <p>Gostaria de confirmar a sua vaga como DUPLA?</p>
                            <div class="table-responsive">
                              <table class="table table-lg table-active">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Organizador</th>
                                    <th scope="col">Nível</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Dupla</th>
                                    <th colspan="2" scope="col">Adversários</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td scope="row"><%= team_owner_name.first  %></td>
                                  <td scope="row"><%= team_owner_nivel.first %></td>
                                  <td scope="row"><%= sched.date  %></td>
                                  <td scope="row"><%= sched.place %></td>
                                  <% duo_name = User.where(id: current_user.id).pluck(:name) %>
                                  <td scope="row" style="color: orange"><%= duo_name.first %></td>
                                  <td scope="row"><%= opponent_1_name.first %></td>
                                  <td scope="row"><%= opponent_2_name.first %></td>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer">
                          <%# Cintia trouxe este botão que estava entre modal-title e modal-header para cá, no footer %>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <%= button_to "Confirmar vaga", schedule_path(sched), class: "btn btn-sm btn-primary rounded-pill", method: :post %>
                            <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Cancelar</button>
                            <%# <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Confirmar vaga</button> %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <%# 2- Atualizar a tabela Schedule %>
                  <%# 3- Atualizar a página de VAGAS com o nome%>
                <% else %>
                  <td scope="row"><%= duo_name.first  %></td>
                <% end %>
<!-- teste de vaga para dupla FIM -->
              </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
